@import "dropdown.css";

/* -- All Basic Styles Of Theme -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: #000000;
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 17px;
    color: #282b30;
    line-height: 1.8;
}

figure,
img,
iframe {
    max-width: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
    list-style-type: none;
}

label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #353638;
    display: block;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-size: 15px;
    color: #777777;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    background: #2e5ea2;
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover {
    background: #e4be1a;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}

blockquote {
    border-left: 4px solid #1e4b8e;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: #1e4b8e;
    opacity: .2;
}

blockquote p {
    font-style: italic;
    color: #1e4b8e;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}


/* -- Container Styles -- */

.container {
    max-width: 1230px;
}

.navbar-expand-lg>.container,
.navbar-expand-lg>.container-fluid {
    padding: 0 15px;
}


/* -- Main Navigation Styles -- */

.main-navigation {
    padding: 15px 0;
    z-index: 9;
    background-color: #ffffff
}

.main-navigation.fixed {
    position: fixed;
    top: 15px;
    right: 0;
    left: 0;
    z-index: 9;
    transition: all 0.3s;
}

.main-navigation.fixed {
    top: -70px;
    transform: translate3d(0, 70px, 0);
}
.site-branding p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
}

/** Secondary Navigation **/
.top-menu {
    background-color: #e5e5ee;
}
.top-menu .navbar {
    padding: 0px !important;
}
.navbar .secondary-menu ul {
    float: right;
}
.navbar .secondary-menu ul li {
    float: left;
}
.navbar .site-detail p {
    margin: 8px 115px 40px 2px;
    font-size: 14px;
    display: inline-block;
    padding: 15px 0 0 0;
}
nav ul {
    margin-right: auto;
}
nav ul li a {
    padding: 5px 20px 0 0 !important;
}
/*
* Front page slider
*/
.header-content {
    text-align: center;
}
.carousel-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.frontpage-cat-links a{
    background-color: #adb738;
    color: black;
    display: inline-block;
    padding: 4px;
}
.frontpage-cat-links a:hover {
    color: #007bff;
}
.header-content p .detail {
    margin: 0 10px 0 10px;
}
.header-content h2 a,
.header-content p a {
    color: #fefeff;
}
.header-content h2 a:hover, 
.header-content p a:hover{
    color: #007bff;
}
.card {
    border: 0px !important; 
}
.carousel ul {
    margin-right: 0%;
    margin-left: 75%;
}
/*
* Header
*/
.header-img {
    width: 100%;
    height: 750px;
        display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.header-img .entry-header h1 {
    color: #fefeff;
    font-size: 70px;
}
/* Content Image */
article p img {
    width: 100%;
}
.entry-content {
    margin: 50px 0 0 0;
}

/* -- Blog Page Syles -- */


.blog #content,
.single #content {
    position: relative;
}

.blog #primary {
    margin-top: -80px;
    background-color: #ffffff;
    position: unset;
}

.blog #primary:before,
.single #primary:before,
.featured-section:before {
    content: '';
    width: 42%;
    height: 80px;
    background-color: #ffffff;
    position: absolute;
    top: -80px;
    left: 0;
}
.entry-content img{
    max-height: 450px;
}

/* -- Single Page Styles -- */

.single #primary {
    margin: -30px 0 0;
    position: unset;
}

.single #primary:before {
    height: 30px;
    top: -30px;
}

.single article.card {
    display: block;
    background-color: transparent;
}

.single article .entry-meta {
    display: inline-block;
    background-color: #ffffff;
    padding: 3px 15px 15px 0;
}
article {
    padding: 15px 0 0 0;
}
/* --- Single author --*/
.author-area {
    border-top: 1px solid #aab3c8;
    border-bottom: 1px solid #aab3c8;
    padding: 25px;
}
.author-detail {
    padding: 20px;
}
.author-name {
    padding: 5px;
}
.author-desc {
    text-align: center;
}
/* --- Single Post Navigation ---*/
.previous img,
.next img {
    width: 150px;
}
.next {
    float: right;
}
.previous {
    float: left;
}
.next .nex-title h4,
.previous .prev-title h4 {
    font-size: 18px;
}
.nex-title,
.prev-title {
    padding: 16px;
}
.nex-title {
    text-align: right;
}
.ytcont {
    display: flex;
    flex-wrap: wrap ;
}
.single .card-body {
    padding: 0;
}
.latest-post .top-post {
    margin-top: 0;
}
.latest-post h2 {
    text-align: center;
}
.single .previous,
.single .next {
    margin: 10px 0 20px 0;
}
.single .entry-meta span {
    padding: 5px;
}

.single .entry-meta span:after {
    content: '|';
    display: inline-block;
    margin-left: 5px;
}
.single .entry-meta span:last-child::after {
    display: none;
}

/*
* Front page
*/
.featured-section{
    position: relative;
}
.featured-section h2 {
    padding-top: 10px;
    padding-bottom: 10px; 
}
.featured-section h2 .slash {
    font-size: 40px;
    padding: 10px;
}
.featured-section h2 span {
    font-size: 20px;
}
.featured-second p,
.top-stories .latest-entries p {
    font-size: 16px;
}

.featured-second {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.featured-second h2 {
    font-size: 18px;
}
.featured-second .meta span,
.featured-second .meta i {
    font-size: 12px;
}

.featured-second .meta span {
    margin-left: 3px;
}
.featured-section .meta .far {
    margin-left: 5px;
}
.featured-second h2 a,
.featured-second .meta a,
.featured-second .meta i {
    color: #ffffff;
}
.featured-second h2 a:hover , 
.featured-second .meta a:hover{
    color: #007bff;
}
.featured-section .content-meta h2 {
    margin: 0;
}

.featured-content {
    padding: 0 15px;
    position: relative;
    height: 350px;
}

.featured-content:nth-child(1) {
    width: 66.66667%;
}

.featured-content:nth-child(2) {
    width: 33.33337%;
}

.featured-content:nth-child(3),
.featured-content:nth-child(4),
.featured-content:nth-child(5) {
    width: 33.333337%;
    margin-top: 30px;
    height: 250px;
}

.featured-content img {
    height: 100%;
    width: 100%;
}

.content-meta {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    text-align: center;
}

.featured-section:before {
    height: 90px;
    top: 0;
}
.featured-section .container {
    margin-top: -90px;
    background: white;
    position: relative;
}
.top-stories .bg-img {
    position: relative;
}
.top-post {
    margin-top: -170px;
}
.top-stories .entry-content {
    position: absolute;
    top: 45%;
    max-width: 900px;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.latest-image {
    position: relative;
}
.latest-image .categories {
    position: absolute;
    top: 75%;
    left: 5%;
   
}
.latest-image .categories .cat-links {
    padding: 0 7px 2px 7px;
}
.top-post .latest-entries {
    background-color: white;
    box-shadow: 0px 8px 14px 1px #b5b5b5;
    padding: 15px;
    margin-top: -8px;
    margin-bottom: 35px;
}
.latest-image .cat-links a:hover {
    color: #007bff !important;
}
.featured-first {
    margin-bottom: 50px;
}
.featured-first .entries-desc {
    box-shadow: 0px 8px 14px 1px #b5b5b5;
    padding: 10px;
}
.entries-desc span {
    font-size: 12px;
    margin-right: 3px;
}
.entries-desc p,
.entries-desc a {
    font-size: 12px;
}
.entries-desc h2 a {
    font-size: 16px;
    font-weight: bold;
}
.top-stories .entry-content h2,
.top-stories .entry-content p {
    text-align: center;
    color: #ffffff;
}
.skip-post .latest-entries i {
    margin: 5px;
    color: #becbd2;
}
.skip-post .latest-entries span {
    padding-left: 5px;
}
.skip-post .latest-entries .posted-on {
    padding-left: 10px;
}
.skip-post .row {
    margin: 20px;
}
.skip-post .latest-image img {
    box-shadow: 0px 0px 15px 5px grey;
}
.featured-section,
.top-stories {
    margin: 0 0 40px 0;
}
.top-stories .latest-entries span a {
    font-size: 12px;
    color: #757575;
}
.top-stories .latest-entries span a:hover {
    color: #007bff;
}
.top-stories .latest-entries h3 {
    font-size: 16px;
    font-weight: bold;
}
.featured-first .entries-visual a{
    font-size: 14px;
}
/* Footer */
.bottom-footer {
    background-color: #343a40;
}
.bottom-footer .widget {
    margin-top: 20px;
    margin-right: 30px;
}
.bottom-footer .footer-widgets h3 {
    color: #cdcfd2;
}
.bottom-footer .widget ul li a {
    color: #cdcfd2;
}
.bottom-footer .widget ul li a:hover{
    color: #0056b3;
}
.newsletter-widgets h5,
.footer-gallery h2 {
    text-align: center;
}
.footer-gallery {
    margin-top: 50px;
}
.site-info .author {
    text-align: right;
}
.footer-social ul li {
    float: left;
    margin: 0 auto;
}
.footer-social li i {
    color: #cdcfd2;
    font-size: 20px;
}
.footer-social li a {
    padding: 6px;
}
.footer-social li i:hover {
    color: #0056b3;
}
.site-info {
    margin-top: 20px;
}
#footer .newsletter-widgets {
    background-color: #eaebec;
}   
.newsletter-widgets{
    padding: 50px;
}
.newsletter-widgets h5 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #303132;
}
.newsletter-widgets .tnp {
    padding-left: 30%;
    padding-right: 30%;
}
#footer .newsletter-widgets .widget .tnp-widget-minimal form {
    position: relative;
    height: 60px;
    background-color: #ffffff;
    margin: 60px;
}
#footer .newsletter-widgets .widget .tnp-widget-minimal input.tnp-submit {
    position: absolute;
    right: 0;
    width: 100px;
    background-color: #ffffff;
    color: #010101;
    border-left: 1px solid #bfc4c8;
    padding: 5px;
    top: 0;
    bottom: 0;
    height: 30px;
    margin: auto;;
}
#footer .newsletter-widgets .widget .tnp-widget-minimal input.tnp-email {
    padding-right: 110px;
    border: none;
    background-color: #ffffff;
    height: 60px;
    color: #999999
}
.footer-gallery h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #5285c4;
}

/**
* Responsive CSS
**/
@media (max-width: 1200px) {
    p {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    /* Single Page CSS */
    .single .entry-meta span {
        padding: 0;
    }
    .single .entry-meta i,
    .entry-meta span a {
        font-size: 12px;
    }
    .single #primary:before {
        height: 30px;
        top: -20px;
    }
    .blog #primary:before,
    .single #primary:before,
    .featured-section:before {
        width: 30%;
    }

    .header-img {
        height: 450px;
    }
    .header-img .entry-header h1 {
        font-size: 30px;
    }
    .top-menu .site-detail p {
        margin: 0;
        padding: 0px 10px 0px 15px;
    }
    .navbar .secondary-menu ul {
        float: right;
        margin-bottom: 0;
    }
    .card-body .entry-content {
        margin: 0;
    }
    .card-body .entry-content p {
        font-size: 16px;
    }
    .author-area .author-img {
        text-align: end;
        margin-left: 65px;
    }
    .author-area .author-img img {
        max-width: 100%;
    }
    .author-area .author-detail {
        max-width: 68%;
    }
    .author-area .author-detail h3 {
        font-size: 16px;
        text-align: center;
    }
    .author-area .author-detail p {
        font-size: 14px;
        margin: 0;
    }
    .latest-post .top-post {
        margin-left: 30px;
        margin-right: 30px;
    }
    .latest-post h2 {
        font-size: 20px;
    }
    .top-post .latest-entries h3 {
        text-align: unset;
        font-size: 16px;
    }
    .top-post .latest-entries span a {
        margin-left: 0;
        font-size: 12px;
    }
    .top-post .sidebar {
        text-align: center;
    }

    .next .nex-title h4, 
    .previous .prev-title h4 {
        font-size: 15px;
    }
    .site-info {
        text-align: unset;
    }
    /* Contact page */

    .entry-content h2 {
        text-align: unset;
        font-size: 18px;
    }
    .entry-content p {
        text-align: unset;
    }
    .wpcf7 {
        padding: 40px !important;
    }
    .wpcf7 p{
        text-align: unset;
    }
    /* Front Page CSS */
    .featured-section .container{
        max-width: 900px;
    }
    .featured-section h2,
    .featured-section h2 span {
        font-size: 18px;
        text-align: unset;
    }
    .featured-section h2 .slash {
        font-size: 20px;
        padding: 0;
    }
    .featured-section:before {
        height: 92px;
        top: 0px;
    }
    .carousel ul {
        margin-bottom: 25px;
        margin-left: 90%
    }
    .featured-section .entries {
        margin-bottom: 20px;
    }
    .entries .entries-desc {
        text-align: unset;
    }
    .top-stories .top-post {
        margin-top: -70px;
    }
    .skip-post .latest-entries {
        text-align: unset;
    }
    .skip-post .latest-entries p {
        font-size: 12px;
    }
    .featured-content:nth-child(1) {
        width: 66.66667%;
    }
    
    .featured-content:nth-child(2) {
        width: 33.33337%;
    }
    
    .featured-content:nth-child(3),
    .featured-content:nth-child(4),
    .featured-content:nth-child(5) {
        width: 33.333337%;
        margin-top: 30px;
        height: 250px;
    }
    .navbar-collapse ul {
        text-align: center;
    }
    .newsletter-widgets{
        padding: 40px;
    }
    .newsletter-widgets h5 {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .newsletter-widgets .tnp {
        padding-left: 20%;
        padding-right: 20%;
    }
    .footer-gallery h2 {
        font-size: 38px;
    }
}
@media (max-width: 991px) {
    p {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    /* Single Page CSS */
    .single .entry-meta span {
        padding: 0;
    }
    .single .entry-meta i,
    .entry-meta span a {
        font-size: 12px;
    }
    .single #primary:before {
        height: 30px;
        top: -15px;
    }
    .blog #primary:before,
    .single #primary:before,
    .featured-section:before {
        width: 34%;
    }

    .header-img {
        height: 400px;
    }
    .header-img .entry-header h1 {
        font-size: 26px;
    }
    .top-menu .site-detail p {
        margin: 0;
        padding: 0px 10px 0px 15px;
    }
    .navbar .secondary-menu ul {
        float: right;
        margin-bottom: 0;
    }
    .card-body .entry-content {
        margin: 0;
    }
    .card-body .entry-content p {
        font-size: 16px;
    }
    .author-area .author-img {
        text-align: end;
        margin-left: 65px;
    }
    .author-area .author-img img {
        max-width: 100%;
    }
    .author-area .author-detail {
        max-width: 68%;
    }
    .author-area .author-detail h3 {
        font-size: 16px;
        text-align: center;
    }
    .author-area .author-detail p {
        font-size: 14px;
        margin: 0;
    }
    .latest-post .top-post {
        margin-left: 30px;
        margin-right: 30px;
    }
    .latest-post h2 {
        font-size: 20px;
    }
    .top-post .latest-entries h3 {
        text-align: unset;
        font-size: 16px;
    }
    .top-post .latest-entries span a {
        margin-left: 0;
        font-size: 12px;
    }
    .top-post .sidebar {
        text-align: center;
    }

    .next .nex-title h4, 
    .previous .prev-title h4 {
        font-size: 15px;
    }
    .site-info {
        text-align: unset;
    }
    /* Contact page */

    .entry-content h2 {
        text-align: center;
        font-size: 18px;
    }
    .entry-content p {
        text-align: center;
    }
    .wpcf7 {
        padding: 40px !important;
    }
    .wpcf7 p{
        text-align: unset;
    }
    /* Front Page CSS */
    .featured-section h2,
    .featured-section h2 span {
        font-size: 18px;
        text-align: unset;
    }
    .featured-section h2 .slash {
        font-size: 20px;
        padding: 0;
    }
    .carousel ul {
        margin-bottom: 95px;
    }
    .featured-section .entries {
        margin-bottom: 20px;
    }
    .entries .entries-desc {
        text-align: unset;
    }
    .top-stories .top-post {
        margin-top: -70px;
    }
    .latest-image .cat-links {
        top: 65%;
    }
    .skip-post .latest-entries { 
        text-align: unset;
    }
    .skip-post .latest-entries p {
        font-size: 12px;
    }
    .featured-content:nth-child(1) {
        width: 66.66667%;
    }
    
    .featured-content:nth-child(2) {
        width: 33.33337%;
    }
    
    .featured-content:nth-child(3),
    .featured-content:nth-child(4),
    .featured-content:nth-child(5) {
        width: 33.333337%;
        margin-top: 30px;
        height: 250px;
    }
    .navbar-collapse ul {
        text-align: center;
    }
    .newsletter-widgets{
        padding: 35px;
    }
    .newsletter-widgets h5 {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .newsletter-widgets .tnp {
        padding-left: 20%;
        padding-right: 20%;
    }
    .footer-gallery h2 {
        font-size: 32px;
    }
}
@media (max-width: 767px) {
    
    p {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    /* Single Page CSS */
    .single .entry-meta span {
        padding: 0;
    }
    .single .entry-meta i,
    .entry-meta span a {
        font-size: 12px;
    }
    .single #primary:before {
        height: 30px;
        top: -15px;
    }
    .blog #primary:before,
    .single #primary:before,
    .featured-section:before {
        width: 38%;
    }

    .header-img {
        height: 300px;
    }
    .header-img .entry-header h1 {
        font-size: 26px;
    }
    .top-menu .site-detail p {
        margin: 0;
        padding: 0px 10px 0px 15px;
    }
    .navbar .secondary-menu ul {
        float: right;
        margin-bottom: 0;
    }
    .card-body .entry-content {
        margin: 0;
    }
    .card-body .entry-content p {
        font-size: 16px;
    }
    .author-area .author-img {
        text-align: end;
        margin-left: 65px;
    }
    .author-area .author-img img {
        max-width: 100%;
    }
    .author-area .author-detail {
        max-width: 68%;
    }
    .author-area .author-detail h3 {
        font-size: 16px;
        text-align: center;
    }
    .author-area .author-detail p {
        font-size: 14px;
        margin: 0;
    }
    .latest-post .top-post {
        margin-left: 30px;
        margin-right: 30px;
    }
    .latest-post h2 {
        font-size: 20px;
    }
    .top-post .latest-entries h3 {
        text-align: center;
        font-size: 16px;
    }
    .top-post .latest-entries span a {
        margin-left: 254px;
        font-size: 12px;
    }
    .top-post .sidebar {
        text-align: center;
    }
    .previous,
    .next {
        width: 49%;
    }
    .next .nex-title h4, 
    .previous .prev-title h4 {
        font-size: 15px;
    }
    .site-info {
        text-align: unset;
    }
    /* Contact page */
    .entry-content {
        margin: 0;
    }
    .entry-content h2 {
        text-align: center;
        font-size: 18px;
    }
    .entry-content p {
        text-align: center;
    }
    .wpcf7 {
        padding: 40px !important;
    }
    .wpcf7 p{
        text-align: unset;
    }
    /* Front Page CSS */
    .featured-section h2,
    .featured-section h2 span {
        font-size: 18px;
        text-align: center;
    }
    .featured-section h2 .slash {
        font-size: 20px;
        padding: 0;
    }
    .carousel ul {
        margin-bottom: 95px;
    }
    .featured-section .entries {
        margin-bottom: 20px;
    }
    .entries .entries-desc {
        text-align: center;
    }
    .top-stories .top-post {
        margin-top: 8px;
    }
    .skip-post .latest-entries {
        text-align: center;
    }
    .featured-content:nth-child(1),
    .featured-content:nth-child(2),
    .featured-content:nth-child(3),
    .featured-content:nth-child(4),
    .featured-content:nth-child(5) {
        width: 100%;
    }
    .featured-content:nth-child(1) {
        margin-bottom: 30px;
    }
    .navbar-collapse ul {
        text-align: center;
    }
    .newsletter-widgets{
        padding: 30px;
    }
    .newsletter-widgets h5 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .newsletter-widgets .tnp {
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer-gallery h2 {
        font-size: 28px;
    }
}
@media (max-width: 576px) {
    p {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    /* Single Page CSS */
    .single .entry-meta span {
        padding: 0;
    }
    .single .entry-meta i,
    .entry-meta span a {
        font-size: 12px;
    }
    .single #primary:before {
        height: 30px;
        top: -15px;
    }
    .blog #primary:before,
    .single #primary:before,
    .featured-section:before {
        width: 64%;
    }

    .header-img {
        height: 300px;
    }
    .header-img .entry-header h1 {
        font-size: 26px;
    }
    .top-menu .site-detail p {
        margin: 0;
        padding: 0px 10px 0px 30px;
    }
    .navbar .secondary-menu ul {
        float: left;
        margin-bottom: 0;
    }
    .card-body .entry-content {
        margin: 0;
    }
    .card-body .entry-content p {
        font-size: 16px;
    }
    .author-area .author-img {
        text-align: end;
        margin-left: 65px;
    }
    .author-area .author-img img {
        max-width: 66%;
    }
    .author-area .author-detail {
        max-width: 100%;
    }
    .author-area .author-detail h3 {
        font-size: 16px;
        text-align: center;
    }
    .author-area .author-detail p {
        font-size: 14px;
        margin: 0;
    }
    .latest-post .top-post {
        margin-left: 20px;
        margin-right: 20px;
    }
    .latest-post h2 {
        font-size: 20px;
    }
    .top-post .latest-entries h3 {
        text-align: center;
        font-size: 16px;
    }
    .top-post .latest-entries span a {
        margin-left: 118px;
        font-size: 12px;
    }
    .top-post .sidebar {
        text-align: center;
    }
    .previous,
    .next {
        width: 30%;
    }
    .next .nex-title h4, 
    .previous .prev-title h4 {
        font-size: 15px;
    }
    .site-info {
        text-align: center;
    }
    /* Contact page */
    .entry-content {
        margin: 0;
    }
    .entry-content h2 {
        text-align: center;
        font-size: 18px;
    }
    .entry-content p {
        text-align: center;
    }
    .wpcf7 {
        padding: 20px !important;
    }
    .wpcf7 p{
        text-align: unset;
    }
    /* Front Page CSS */
    .featured-section h2,
    .featured-section h2 span {
        font-size: 18px;
        text-align: center;
    }
    .featured-section h2 .slash {
        font-size: 20px;
        padding: 0;
    }
    .carousel ul {
        margin-bottom: 95px;
    }
    .featured-section .entries {
        margin-bottom: 20px;
    }
    .entries .entries-desc {
        text-align: center;
    }
    .top-stories .top-post {
        margin-top: 8px;
    }
    .skip-post .latest-entries {
        text-align: center;
    }
    .featured-content:nth-child(1),
    .featured-content:nth-child(2),
    .featured-content:nth-child(3),
    .featured-content:nth-child(4),
    .featured-content:nth-child(5) {
        width: 100%;
    }
    .featured-content:nth-child(1) {
        margin-bottom: 30px;
    }
    .navbar-collapse ul {
        text-align: center;
    }
    .newsletter-widgets{
        padding: 30px;
    }
    .newsletter-widgets h5 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .newsletter-widgets .tnp {
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer-gallery h2 {
        font-size: 22px;
    }
}